# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.js':
  'TODO':
    'prefix': 'todo'
    'body': '//TODO (tj): $1'

  'react-aphrodite classname':
    'prefix': 'cln'
    'body': 'className={css(styles.$1)}'

  'react proptypes optional':
    'prefix': 'rpto'
    'body': 'React.PropTypes.$1'

  'react proptypes required':
    'prefix': 'rptr'
    'body': 'React.PropTypes.$1.isRequired'

'.text.md':
  'TODO':
    'prefix': 'todo'
    'body': '#TODO: $1'

  'Backlog':
    'prefix': 'blo'
    'body': '#BackLog: $1'

  'active':
    'prefix': 'act'
    'body': '#ActiveSprint: $1'
